.topblackspot{
  background-color: black;
  height: 2.5cm;
}
.header1 {
  font-size: 0.6cm;
  margin-top: -1cm;
  margin-left: 12cm;
  font-family: sans-serif;
  letter-spacing: 3px;
}
.header2{
  color: #fdc136;
}
.logo{
  margin-left: 12cm;
}
.quote1 {
  font-size: 2.5cm;
  margin-top: -14cm;
  margin-left: 4cm;
  color: white;
  font-family: Playfair Display;
  font-weight: bold;
  letter-spacing: 3px;
}
.quote2 {
  font-size: 1cm;
  margin-top: 0cm;
  margin-left: 5cm;
  color: white;
  font-family: serif;
  letter-spacing: 3px;
}
.secondimage {
  margin-top: 12cm;
}
.quote3{
  height: 4cm;
  margin-top: -8cm;
  background-color: white;
  margin-left: 14cm;
  font-size: 1cm;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
}
.button1{
  border-radius: 30px;
  margin-left: 18cm;
  margin-top: -10cm;
  width: 6cm;
  height: 1.5cm;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  background: linear-gradient(to right, #ba9236 0%, #fdc136 51%, #ba9236 100%);
}
.thirdimage {
  float: right;
  margin-right: 3cm;
  margin-top: -2cm;
}
.quote4{
  height: 4cm;
  margin-top: 8cm;
  background-color: white;
  margin-right: 7cm;
  font-size: 1cm;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
}
.button2{
  border-radius: 30px;
  margin-left: 3cm;
  margin-top: -1cm;
  width: 6cm;
  height: 1.5cm;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  background: linear-gradient(to right, #ba9236 0%, #fdc136 51%, #ba9236 100%);
}
.footer{
  background-color: black;
  height: 2.5cm;
  margin-top: 6cm;
}
.whitespace{
  height: 2cm;
}
.quote5 {
  font-size: 1.5cm;
  margin-top: 0cm;
  margin-left: 13cm;
  color: white;
  font-family: Playfair Display;
  font-weight: bold;
  letter-spacing: 3px;
}
.quote6 {
  font-size: 0.5cm;
  margin-top: -5cm;
  margin-left: 13.5cm;
  color: white;
  font-family: Playfair Display;
  font-weight: bold;
  letter-spacing: 3px;
}
.h1page2{
  font-size: 1.4cm;
  font-family: serif;
  margin-top: 4cm;
  margin-left: 11cm;
  font-weight: bold;
}
.second1image{
  margin-top: 3cm;
}
.third1image{
  margin-left: 20cm;
  margin-top: -7cm;
}
.fourth1image{
  margin-left: 10cm;
  margin-top: -13cm;
}
.list1{
  margin-left: 7cm;
  margin-right: 6cm;
  margin-top: 4cm;
  background-color: #F8F9F9;
  border-radius: 8px;
}
.actuallist1{
  margin-left: 6cm;
  margin-right: 4cm;
  font-size: 0.5cm;
  font-family: sans-serif;
  line-height: 1cm;
}
.goldline{
  border-top: 3px dotted #F39C12;
  margin-top: 3cm;
}
.titlelist{
  font-size: 0.7cm;
  font-family: serif;
  margin-left: 5cm;
  font-weight: bold;
}
.button3{
  border-radius: 30px;
  margin-left: 13cm;
  margin-top: 1cm;
  width: 6cm;
  height: 1.5cm;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  background: linear-gradient(to right, #ba9236 0%, #fdc136 51%, #ba9236 100%);
}
.formintro{
  font-size: 0.7cm;
  font-family: serif;
  margin-left: 12cm;
  margin-top: 2cm;
  color: #fdc136;
}
#name{
  margin-top: 20px;
  margin-left: 3cm;
  width: 80%;
  border-radius: 12px;
  height: 40px;
}
#age{
  margin-top: 20px;
  margin-left: 3cm;
  width: 80%;
  border-radius: 12px;
  height: 40px;
}
#year{
  margin-top: 20px;
  margin-left: 3cm;
  width: 80%;
  border-radius: 12px;
  height: 40px;
}
#rate{
  margin-top: 20px;
  margin-left: 3cm;
  width: 80%;
  border-radius: 12px;
  height: 40px;
}
.labelform{
  color: black;
  font-size: 0.6cm;
  font-weight: bold;
  font-family: serif;
  letter-spacing: 2px;
  margin-left: 12.5cm;
  margin-top: 20px;
}
.button4{
  border-radius: 30px;
  margin-left: 11cm;
  margin-top: 1cm;
  width: 6cm;
  height: 1.5cm;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  background: linear-gradient(to right, #ba9236 0%, #fdc136 51%, #ba9236 100%);
}
.quote52 {
  font-size: 1.5cm;
  margin-top: 0cm;
  margin-left: 11cm;
  color: white;
  font-family: Playfair Display;
  font-weight: bold;
  letter-spacing: 3px;
}
.quote62 {
  font-size: 0.5cm;
  margin-top: -5cm;
  margin-left: 11.5cm;
  color: white;
  font-family: Playfair Display;
  font-weight: bold;
  letter-spacing: 3px;
}
.titlelist2{
  font-size: 0.7cm;
  font-family: serif;
  margin-top: 2cm;
  margin-left: 9cm;
  font-weight: bold;
}
.button5{
  border-radius: 30px;
  margin-left: 10cm;
  margin-top: 1.5cm;
  width: 6cm;
  height: 1.5cm;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  background: linear-gradient(to right, #ba9236 0%, #fdc136 51%, #ba9236 100%);
}
.quote53 {
  font-size: 1.5cm;
  margin-top: 0cm;
  margin-left: 12cm;
  color: white;
  font-family: Playfair Display;
  font-weight: bold;
  letter-spacing: 3px;
}
.blackest{
  background-color: #424949;
  margin-left: 5cm;
  margin-right: 5cm;
  border-radius: 12px;
  margin-top: 2cm;
}
.golden{
  border-top: 3px dotted #F39C12;
  margin-top: 1cm;
  margin-left: 2cm;
  margin-right: 2cm;
}
.stylistdescription{
  font-size: 0.7cm;
  margin-left: 6cm;
  font-family: serif;
  color: #fdc136;
}
.stylistdescription2{
  color: grey;
  margin-left: 2cm;

}
.formintro2{
  font-size: 0.8cm;
  font-family: serif;
  margin-left: 11.5cm;
  margin-top: 1cm;
  color: #fdc136;
}
.list2{
  margin-left: 7cm;
  margin-right: 6cm;
  margin-top: 1cm;
  background-color: #F8F9F9;
  border-radius: 8px;
}
.button10{
  border-radius: 30px;
  margin-left: 12cm;
  margin-top: 2cm;
  width: 6cm;
  height: 1.5cm;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  background: linear-gradient(to right, #ba9236 0%, #fdc136 51%, #ba9236 100%);
}
.button11{
  border-radius: 30px;
  margin-left: 12cm;
  margin-top: 1cm;
  width: 6cm;
  height: 1.5cm;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  background: linear-gradient(to right, #ba9236 0%, #fdc136 51%, #ba9236 100%);
}
#visit{
  margin-top: 20px;
  margin-left: 3cm;
  width: 80%;
  border-radius: 12px;
  height: 40px;
}
#number{
  margin-top: 20px;
  margin-left: 3cm;
  width: 80%;
  border-radius: 12px;
  height: 40px;
}
.button43{
  border-radius: 30px;
  margin-left: 12cm;
  margin-top: 1cm;
  width: 6cm;
  height: 1.5cm;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  background: linear-gradient(to right, #ba9236 0%, #fdc136 51%, #ba9236 100%);
}
