<div class="topblackspot">
</div>
<li class="logo"><img src='/images/logo2.jpg' alt='A photo of a logo.' width="150px" height="150px"/></li>
<h1 class="header1">Hair Salon</h1>

<a href="/stylists">View Stylist List</a>
<a href="/stylists/new">Create a new stylist</a>
