<div class="whitespace">
</div>
<p class="first1image"><img src='/images/salon1.jpg' alt='A photo of a salon.' height="700px" width="1140px"/></p>
<div class="quote62">
  </h2>Client Form -> Success</h2>
</div>
<div class="quote53">
  </h2>Success</h2>
</div>
<h1 class="h1page2">Success!</h1>
<p class="titlelist2">Your client has been saved to the $stylist.getName() stylist.</p>
<button class="button5"><a href="/stylists">View Stylists</a></button>
